body {
	font-size: 28px;
	font-family: sans-serif;
}

.topimg {
 	width: 500px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;

}
.axis {
	font: 20px sans-serif;
}
.label {
	font: 22px sans-serif;
}

.dot {
	/*stroke: #000;*/
}
.label{
	fill:black;
	/*font-size:22px;*/
}
.hidden {
	display:none;
}
